body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.white {
    text-align: center;
    border: solid;
    padding: 10px;
    margin: 0 200px;
}

.dark {
    text-align: center;
    border: solid white;
    padding: 10px;
    color: white;
    background-color: black;
    margin: 0 200px;
}

p {
    color: red;
}

.hide {
    display: none;
}





