body {
    text-align: center;
}

.white {
    text-align: center;
    border: solid;
    display: inline-block;
    padding: 10px;
}

.dark {
    text-align: center;
    border: solid white;
    display: inline-block;
    padding: 10px;
    color: white;
}

p {
    color: red;
}

.hide {
    display: none;
}





